//------------------------------
// *****************************
// Typography
// *****************************
//------------------------------

p {
  line-height: $base-line-height;
  font-size: $base-font-size;
}

a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
}

.title {
  font-weight: 600;
  line-height: 1.2em;

  &-main {
    @include font-size(xxxxl);
  }
  &-sub {
    @include font-size(xxxl);
  }
  &-category {
    @include font-size(xxl);
    margin-bottom: $spacer-m;
  }
  &-subcategory {
    @include font-size(xl);
  }
}
